*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Raleway", sans-serif;
       font-optical-sizing: auto;
}
.containerForm2{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    height: 100vh;
    
}
.LogoAlt{
    display: flex;
    width: 100%;

    height: auto;
    padding: 3vh 0;
    align-items: center;
    justify-content: center;
}
.LogoAlt img{
    height: 14vh;
    width: 14vh;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
    
    width: 130vh;
    height: 70vh;
}
.tudoForm{
    display: flex;
    height: 100%;

    justify-content: space-between;
    width: 100%;
}
.esquerda{
    background-color:#f8f9fa ;
    height: 100%;
    width: 64vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0.5vh;
}

.esquerda label{
    display: flex;
    flex-direction: column;

    padding: 0 8vh;
    color: #ffc300;
    font-size:2vh ;
    font-weight: 500;
    width: 100%;
    gap: 0.3 vh;
    
}

.esquerda label input ,select{
    width: 50vh;
    border: solid 0.3vh #003566;
    border-radius: 0.4vh;
    font-size: 2.3vh;
    color: #003566;
}

#imgContainer{
    height: 100%;
    width: 64vh;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0.5vh;
    flex-direction: column;
}
#imgContainer img{
    height: 30vh;
   
}
#imgContainer {
    color: #ffc300;
    font-size: 5vh;
    font-weight: 500;
}
.custom-file-upload{
    font-size: 3vh;
    padding: 1vh;
    color: #003566;
    cursor: pointer;
    transition: 0.3s;
    background-color: #dee2e6;
}
.custom-file-upload:hover{
    transform: translateX(0.3vh) translateY(0.3vh);
}
#fileFoto{
   display: none;
}
#previewImg{
    height: 30vh;
}
.loginLink{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
    margin-top: 1vh;

}
.loginLink input{
    background-color: #003566;
    border: none;
    color: white;
    font-size: 3vh;
    padding: 2vh 5vh;
    border-radius: 2vh;
    cursor: pointer;
}
.loginLink a{
    font-size: 2vh;
    color: #003566;
}