footer{
    background-color: #001d3d;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 40vh;
    align-items: center;
    justify-content: space-around;
}
footer div{
   
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer div svg{ 
    border: #ffc300 solid  0.5vh;
    height: 10vh;
    cursor: pointer;
    border-radius: 10vh;
    width: 10vh;
    padding: 1vh;
}
.linha{
    height: 0.1vh;
    background-color: #ffc300;
    width: 70vh;
}
footer h1{
    font-weight: 700;
    font-size: 5vh;
    color: #ffc300;
}