

.primeiroBanner{
    width: 100%;
    height: 87vh;
    display: flex;
    background-size: 210vh 86.7vh;
    background-image: url(../PICS/imgsMantos/imgHeader.png);
    background-color: blueviolet;
}
.carousel {
    
    width: 100%;
    height: 100%;
    overflow: hidden;



}
.carousel-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.primeiroBanner div{
   
    height: 100%;
    width: 50%;
}
.primeiroBanner div div{
    height: 50%;
    width: 100%;
   
}

.divConteudoConteudo{
    
  
    display: flex;
    flex-direction: column;
    
    justify-content: space-around;
    padding: 0 10vh;

}
.divConteudoConteudo *{
    list-style: none;
    font-family: "Raleway", sans-serif;
       font-optical-sizing: auto;
}

.divConteudoConteudo h1{
    font-weight: 700;
    color: #ffc300;
}
.divConteudoConteudo h2{
    font-weight: 500;
    color: #a6a6a6;
    text-wrap: wrap;
    width: 60vh;
}
.divConteudoConteudo button{
    height: 7vh;
    width: 14vw;
    font-size: 2.5vh;
    border: none;
    box-shadow: 1vh 1vh 0 black;
    transition: 0.5s;
    cursor: pointer;
    font-weight: 600;
    text-align: center;

}

.divConteudoConteudo button:hover{
    transform: translateX(1vh) translateY(1vh);
    box-shadow: none;
}

.divConteudoConteudo section{

    height: 10%;
}


.Camisa{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 0;
    gap: 2vh;
}

.Titulo1{
    background-color: #ffc300;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    
}
.Titulo2{
    background-color: #001d5b;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.Titulo2 h1{
    font-weight: 900;
    color: #ffc300;
}
.Titulo1 h1{
    font-weight: 900;
    color: #001d5b;

}

.espacoCamisa{
    width: 100%;

    justify-content: center;
    
    display: flex;
    align-items: center;
}
.espacoBtnEsquerda, .espacoBtnDireita{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.espacoBtnEsquerda button , .espacoBtnDireita button{
    background-color: transparent;
    cursor: pointer;
    height: 5vh;
    width: 5vh;
    transition: 0.2s;
    border: solid black 0.5vh;
    font-size: 2vh;
   
}
.espacoBtnEsquerda button:hover , .espacoBtnDireita button:hover{
 transform: scale(1.1);
}
.containerCamisa{
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden; /* Permite rolagem horizontal */
    scroll-behavior: smooth;
    width: 80%;
    height: auto;
    gap: 0 10vh;
    justify-content: space-around;
}

.camisaDivimg{
    display: flex;
    
    flex-direction: column;
}
.camisaDivimg img{
    height:50vh;
    
    width: 40vh;
}

.camisaDivimg h1{
    position: fixed;
    margin-top: 44.5vh;
    padding: 1vh;
    font-size: 3.1vh;
    background-color: #ffc300;
    color: #001d5b;
}

.containerCamisaUnico{
    background-color: #a6a6a6;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    width: 40vh;
}

.camisaTexto{
    display: flex;
    flex-direction: column;
    border: #a6a6a6 solid 0.4vh;
    border-top: none;

    justify-content: space-around;
    height: 17vh;
    background-color: #fff;
    align-items: center;
}

.camisaTexto h1{
    color: #11388d;
    font-size: 2.8vh;
    margin-left: 1vh;
}

.camisaTexto button {
    font-size: 3.4vh;
    background-color: #fff;
    border: solid black 0.4vh;
    padding: 1vh;
    cursor: pointer;
    font-weight: 600;
}   

.camisaTexto button:hover{
    border: solid #001d5b 0.4vh;
    color: #001d5b;
}


.imgCarrosel1{
    display: flex;
    background-image: url(../PICS/imgsMantos/img1carrosel.png);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: 230vh 90vh;
}
.imgCarrosel2{
    display: flex;
    background-image: url(../PICS/imgsMantos/img2carrosel.png);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: 230vh 90vh;
}


.imgCarrosel1 div{
   height: 100%;
   width: 50%;

}
.Top div{
    height: 50%;
    display: flex;
    width: 100%;
 
    flex-direction: column;
}

.car1{
    display: flex;
    align-items: start;
    gap: 2vh;
   padding-left: 36vh;
}

.car1 > h1{
    font-weight: 600;
    color: #ffc300;
    font-size: 6vh;
    width: 70vh;
}

.car1 > h2{
    color: #c2c2c2;
    flex-wrap: wrap;
    width: 35vh;
    font-size: 3vh;
    font-weight: 200;
}

.car2{
    display: flex;
    align-items: start;
    gap: 2vh;
    padding-left: 10vh;
}
.car2 > h1{
    font-weight: 600;
    color: #ffc300;
    font-size: 6vh;
    width: 70vh;
}
.car2 > h2{
    color: #c2c2c2;
    flex-wrap: wrap;
    width: 35vh;
    font-size: 3vh;
    font-weight: 200;
}
.imgCarrosel3{
    display: flex;
    background-image: url(../PICS/imgsMantos/img3carrosel.png);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: 230vh 90vh;
    align-items: center;
    justify-content: center;
}
.imgCarrosel3 h1{
    font-weight: 600;
    color: #ffc300;
    font-size: 6vh;
    width: 70vh;
}
.imgCarrosel3 h2{
    color: #c2c2c2;
    flex-wrap: wrap;
    width: 35vh;
    font-size: 3vh;
    font-weight: 200;
}

.imgCarrosel4 {
    display: flex;
    background-image: url(../PICS/imgsMantos/img4carrosel.png);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: 230vh 90vh;
}

