@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 0 5vh;
    height: 13vh;
    background-color: #fff;
    align-items: center;    
}
.selecao{
    display: flex;
    justify-content: space-around;
    
    height: 100%;
    align-items: center;
    width: 50vw;
}
.selecao li{
    color:#001d5b ;
    font-size: 4vh;
  
}

header *{
     list-style: none;
 font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    
}

header form li{
   cursor: pointer;
    font-weight: 700;
}
header div{
    display: flex;
    align-items: center;
}

header div img{
    height: 8vh;
}

.Pesquisar {
    height: 5vh;
    width: 30vh;
    border: none;
    background-color: gainsboro;
    
}
.Pesquisar::placeholder{
    color: gray;
}

.pesquisa{
    display: flex;
    align-items: center;
    height: 100%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 800,
  'GRAD' 0,
  'color' 
  'opsz' 24;
  color: #ffc300;
  
  height: 5vh;
  border: none;
  background-color: gainsboro;
  cursor: pointer;
}


.logo-site{
    height: 9.5vh;
}

body{
    background-color: aqua;
}
