@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 0 5vh;
    height: 13vh;
    background-color: #fff;
    align-items: center;    
}
.selecao{
    display: flex;
    justify-content: space-around;
    
    height: 100%;
    align-items: center;
    width: 50vw;
}
.selecao li{
    color:#001d5b ;
    font-size: 4vh;
  
}

header *{
     list-style: none;
 font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    
}

header form li{
   cursor: pointer;
    font-weight: 700;
}
header div{
    display: flex;
    gap: 3vh;
    align-items: center;
}

header div img{
    height: 8vh;
    cursor: pointer;
}

.Pesquisar {
    height: 6vh;
    width: 40vh;
    border: none;
    background-color: gainsboro;
    color: gray;
    font-size: 2.3vh;
    text-align: center;
    
}
.Pesquisar::placeholder{
    color: gray;
    font-size: 2.3vh;
}

.pesquisa{
    display: flex;
    align-items: center;
    height: 100%;
}
.Pesquisar:active{
    border: none;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 800,
  'GRAD' 0,
  'color' 
  'opsz' 24;
  color: #ffc300;
  
  height: 6vh;
  border: none;
  background-color: gainsboro;
  cursor: pointer;
}

.logo-site{
    height: 9.5vh;
}

.primeiroBanner{
    width: 100%;
    height: 87vh;
    display: flex;
    background-size: 210vh 86.7vh;
    background-image: url(../PICS/imgsMantos/imgHeader.png);
    background-color: blueviolet;
}

.primeiroBanner div{
   
    height: 100%;
    width: 50%;
}
.primeiroBanner div div{
    height: 50%;
    width: 100%;
   
}

.divConteudoConteudo{
    
  
    display: flex;
    flex-direction: column;
    
    justify-content: space-around;
    padding: 0 10vh;

}
.divConteudoConteudo *{
    list-style: none;
    font-family: "Raleway", sans-serif;
       font-optical-sizing: auto;
}

.divConteudoConteudo h1{
    font-weight: 700;
    color: #ffc300;
}
.divConteudoConteudo h2{
    font-weight: 500;
    color: #a6a6a6;
    text-wrap: wrap;
    width: 60vh;
}
.divConteudoConteudo button{
    height: 7vh;
    width: 14vw;
    font-size: 2.5vh;
    border: none;
    box-shadow: 1vh 1vh 0 black;
    transition: 0.5s;
    cursor: pointer;
    font-weight: 600;
    text-align: center;

}

.divConteudoConteudo button:hover{
    transform: translateX(1vh) translateY(1vh);
    box-shadow: none;
}

.divConteudoConteudo section{

    height: 10%;
}


.Camisa{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 0;
    gap: 2vh;
}

.Titulo1{
    background-color: #ffc300;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    
}
.Titulo1 h1{
    font-weight: 900;
    color: #001d5b;

}

.espacoCamisa{
    width: 100%;
    background-color: #ffc300;
    justify-content: center;
    display: flex;
    align-items: center;
}
.espacoBtnEsquerda, .espacoBtnDireita{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.espacoBtnEsquerda button , .espacoBtnDireita button{
    background-color: transparent;
    cursor: pointer;
    height: 5vh;
    width: 5vh;
    transition: 0.2s;
    border: solid black 0.5vh;
    font-size: 2vh;
   
}
.espacoBtnEsquerda button:hover , .espacoBtnDireita button:hover{
 transform: scale(1.1);
}
.containerCamisa{
    display: flex;
    overflow-x: auto; /* Permite rolagem horizontal */
    scroll-behavior: smooth;
    width: 80%;
}



body{
    background-color: aqua;
}
