*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
main{
    background-color: white;
    display: flex;
    padding: 4vh 0;
    
}
.Principal{
    width: 70%;
    height: 180vh;
    gap: 4vh;
    align-items: center;
    
    display: flex;
    flex-direction: column;
}
.Lateral{
    width: 30%;
    height: 120vh;
    
    gap: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.textoIni{

    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding: 0 0 0 2vh ;
}


.textoIni h1{
    font-size: 3vh;
    color: black;
}

.textoIni h2{
    color: #11388d;
    font-weight: 300;
}


.Lateral form{
    
    width: 100%;
    display: flex;
    gap: 5vh;
   
    flex-direction: column;
    height: 30%;
    
}
.Lateral form p{
    font-size: 2vh;
    color: black;
    margin-left: 3vh;
    font-weight: 100;
}



.labels {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

.labels label {
    padding: 2vh 2vh;
    cursor: pointer;
    background-color: #f8f9fa;
    border-radius: 0.4vh;
    color: #11388d;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s; /* Adicionando uma transição suave */
}



.labels input[type="radio"]:checked + label {
    background-color: #ff6d00; /* Cor de fundo quando o radio estiver selecionado */
    color: white; /* Cor do texto quando o radio estiver selecionado */
}




.descricao{

    width: 70%;
    min-height: 10vh;
}
.descricao p{
    font-size: 3vh;
}

.carrinho{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.4vh;
}


.carrinho input{
    background-color: #001d5b;
    color: #ffc300;
    font-size: 2vh;
    padding: 2vh;
    cursor: pointer;
    transition: 0.4s;
}
.carrinho input:hover , a button:hover{
    transform: scale(1.03);
}
.carrinho a button{
    cursor: pointer;
    background-color: white;
    border: solid #001d5b;
    color: #001d5b;
    font-size: 2vh;
    padding: 1.9vh;
    width: 30vh; 
    transition: 0.4s;
}








.MostrarImg{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: #f8f9fa;
}
.MostrarImg img{
    height: 80%;
    width: 70%;
}
.MostrarSugest h1{
    color: #001d5b;
}
.MostrarSugest{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.Camisa{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 0;
    
    gap: 2vh;
    width: 90%;
}



.espacoCamisa{
    width: 100%;
  
    justify-content: center;
    
    display: flex;
    align-items: center;
}
.espacoBtnEsquerda, .espacoBtnDireita{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.espacoBtnEsquerda button , .espacoBtnDireita button{
    background-color: transparent;
    cursor: pointer;
    height: 5vh;
    width: 5vh;
    transition: 0.2s;
    border: solid black 0.5vh;
    font-size: 2vh;
   
}
.espacoBtnEsquerda button:hover , .espacoBtnDireita button:hover{
 transform: scale(1.1);
}
.containerCamisa{
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden; /* Permite rolagem horizontal */
    scroll-behavior: smooth;
    width: 80%;
    height: auto;
    gap: 0 10vh;
    justify-content: space-around;
}

.camisaDivimg{
    display: flex;
    
    flex-direction: column;
}
.camisaDivimg img{
    height:50vh;
    
    width: 40vh;
}

.camisaDivimg h1{
    position: fixed;
    margin-top: 44.5vh;
    padding: 1vh;
    font-size: 3.1vh;
    background-color: #ffc300;
    color: #001d5b;
}

.containerCamisaUnico{
    background-color: #a6a6a6;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    width: 40vh;
}

.camisaTexto{
    display: flex;
    flex-direction: column;
    border: #a6a6a6 solid 0.4vh;
    border-top: none;

    justify-content: space-around;
    height: 17vh;
    background-color: #fff;
    align-items: center;
}

.camisaTexto h1{
    color: #11388d;
    font-size: 2.8vh;
    margin-left: 1vh;
}

.camisaTexto button {
    font-size: 3.4vh;
    background-color: #fff;
    border: solid black 0.4vh;
    padding: 1vh;
    cursor: pointer;
    font-weight: 600;
}   

.camisaTexto button:hover{
    border: solid #001d5b 0.4vh;
    color: #001d5b;
}


  
