@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 5vh;
    height: 13vh;
    background-color: #fff;
    align-items: center;
}

.divConteudoConteudo{
  margin: 2%;
}

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    margin: 200vh;
    margin-bottom: 10%;
    margin-top: 10%;
    transition: transform 0.7s ease-in-out;
    width: 100%;
}

.carousel-item {
    display: flex;
    min-width: 100%;
    height: 100%;
}

.carousel-item img {
    width: 30%; /* Ajusta a largura para 100% para preencher o item */
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2rem;
    border: none;
    padding: 3vh;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel-btn:focus {
    outline: none;
}

/* Ajuste para o conteúdo centralizado */
.carousel-container .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divConteudoConteudo {
  margin-left: 27%;
}

.divConteudoConteudo a {
  color: #ffc300;
}

.divConteudoConteudo h1 {
  margin: 1%;
  color: #001d5b;
}

.divConteudoConteudo h2 {
  color: #001d5b;
}
